{% extends "base.html" %}
{% block content %}
  <aside class="l_box">
      {% include 'base_about.html' ignore missing %}
      {% include 'base_pic.html' ignore missing %}
      {% include 'base_search.html' ignore missing %}
      {% include 'base_classify.html' ignore missing %}
      {% include 'base_tuijian.html' ignore missing %}
      {% include 'base_links.html' ignore missing %}
      {% include 'base_code.html' ignore missing %}
  </aside>
  <main class="r_box">
      {% for article_list in article_lists %}
        <li><i><a href="/"><img src="../../static/images/{{article_list.message}}"></a></i>
            <h3><a href="/">{{article_list.article_title}}</a></h3>
            <p>{{article_list.title_fulltext}}</p>
        </li>
      {% endfor %}
  </main>
{% endblock %}
