{% extends "base.html" %}
{% block content %}
<div class="infosbox">
      <div class="newsview">
        <div class="bloginfo">
            <div class="user-nav">
                <ul>
                    <li>用户名称：{{true_name}}
                        <a class="manage-group" id="edit_user" href="javascript:void(0);" onclick="edit_user()"><span class="manage-btn">修改资料</span></a>
</li>
                    <li>博客描述：{{blog_description}}</li>
                </ul>


            </div>
            <div class="fenge-line"></div>
            <div class="user-nav">
                <ul>
                    <li>友情链接：<a class="manage-group" id="add-link" href="javascript:void(0);" onclick="add_link()"><span class="manage-btn">添加</span></a>

                        <ul>
                            {% for friendly_link in friendly_links %}
                                <li>{{friendly_link.link_name}}：{{friendly_link.link_url}}
                                    <a style="width:10%;" class="manage-group" href="javascript:void(0);" onclick="delete_link({{friendly_link.id}})"><span class="manage-cancel-btn">删除</span></a>
</li>
                            {% endfor %}
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>


<div id="edit-modal" class="modal">
	<div class="modal-content">
		<header class="modal-header" style="padding-left:10px;">
			<h4>修改资料</h4>
			<span class="close">×</span>
		</header>
		<div class="modal-body">
            <div class="article-form-group">
                用户名称：<input class="form-title-input" type="text" id="user-name" maxlength="25">
            </div>
			<div class="article-form-group">
                博客描述：<input class="form-title-input" type="text" id="blog-description" maxlength="60">
            </div>
		</div>
		<footer class="modal-footer">
			<button id="edit-cancel">取消</button>
			<button id="edit-sure">确定</button>
		</footer>
	</div>
</div>

<div id="link-modal" class="modal">
	<div class="modal-content">
		<header class="modal-header" style="padding-left:10px;">
			<h4>添加友情链接</h4>
			<span class="close">×</span>
		</header>
		<div class="modal-body">
            <div class="article-form-group">
                链接名称：<input class="form-title-input" type="text" id="link-name" maxlength="25">
            </div>
			<div class="article-form-group">
                链接url：<input class="form-title-input" type="text" id="link-url" maxlength="60">
            </div>
		</div>
		<footer class="modal-footer">
			<button id="link-cancel">取消</button>
			<button id="link-sure">确定</button>
		</footer>
	</div>
</div>
{% endblock %}
